@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');
   
     *{ 
     margin: 0%; 
     padding: 0% 
     
    
 } 

body{
    width: 100rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: brown; 
}

.calculator{
    border: 1% solid;
    padding: 2%;
    border-radius: 3rem;
    background-color: aqua;
    height: 25rem;
    box-shadow: 0px 3px;
}

.container input{ 
border: none;
padding: 1rem;
margin: 0.5rem;
box-shadow: 0px 5px 13px 0px;
font-size: 1rem;
}